/* gnb 파트 */
#gnb {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80px;
  height: 100vh;
  /* padding-left: 1%; */
  border-right: 0.1px solid #9e9e9e78;
  z-index: 999;
  overflow: hidden;
  /* display: none; */
}
#gnb a{
  width: 80%;
}
#gnb a img {
  width: 100%;
  height: 100%;
  margin: -5% 0% 0% 5%;
}
#menu {
  display: flex;
  width: 80%;
  height: 2%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  /* padding-left: 5%; */
  margin-left: 15%;
  cursor: pointer;
}
#menu .top {
  width: 70%;
  height: 5%;
  background-color: #fff;
  transition: 0.5s;
}
#menu .top.on {
  transform: translateY(-400%);
}
#menu .bottom {
  width: 70%;
  height: 5%;
  background-color: #fff;
  transition: 0.5s;
}
#menu .bottom.on {
  transform: translateY(400%);
}
.logout {
  position: absolute;
  top: 62%;
  left: 26%;
  font-size: 1rem;
  line-height: 1;
  color: #fff;
}
#gnb .sns-menu {
  display: flex;
  color: #fff;
  width: 100%;
  height: 10%;
  flex-direction: column;
  justify-content: space-around;
}
.user {
  position: absolute;
  top: 60%;
  left: 22%;
  font-size: 1.65rem;
  line-height: 3;
  color: #fff;
}

#gnb .sns-menu a {
  font-size: 1.75rem;
  line-height: 3;
}
#gnb .sns-menu a:last-child {
  font-size: 1.6rem;
  margin-left: -5%;
}
#gnb .sns-menu span {
  display: none;
}
@media screen and (max-width: 375px) {
  #gnb {
    border: none;
    display: flex;
    flex-direction: row;
    height: 8vh;
    margin: 0% 0 0 0%;
    overflow: hidden;
    width: 100vw;
    z-index: 999;
    /* justify-content: space-around; */
    background-color: rgb(9, 10, 99);
  }
  #gnb a {
    width: 10%;
    height: 100%;
  }
  #gnb a img {
    margin-top: 20%;
    width: 100%;
    height: 80%;
  }
  #menu {
    align-items: stretch;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    position: relative;
    width: 10%;
  }
  #menu .top {
    position: absolute;
    top: 40%;
    width: 100%;
    height: 2%;
    background-color: #fff;
    transition: 0.5s;
  }
  #menu .bottom {
    position: absolute;
    width: 100%;
    height: 2%;
    background-color: #fff;
    transition: 0.5s;
  }
  #gnb .sns-menu {
    display: none;
  }
}
