#sellshop-page {
  width: 99.1vw;
}
.selltop {
  width: 100vw;
  height: 600px;
  background: url(../../public/images/shop/sell_topban.jpg) no-repeat center/cover;
  margin-bottom: 2%;
}
.tit {
  font-family: "Bebas Neue", sans-serif;
  padding: 1% 42% 0%;
  color: #fff;
  font-size: 5rem;
  font-weight: bold;
}
.sell-gnb {
  margin-left: 7%;
  display: flex;
  gap: 30px;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
}
.sell-gnb a:hover {
  text-decoration: underline;
}
p {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0% 0% 0% 7%;
  height: 55px;
}
.sellban {
  display: flex;
  gap: 15px;
  margin: 0% 0% 2% 6.5%;
  position: relative;
}

.sellbanbx img {
  border-radius: 15px;
}
.sellbanp {
  position: absolute;
  top: 80%;
  font-weight: bold;
  color: #fff;
  margin-left: 5%;
}

.sellshop {
  position: relative;
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2vw 0;
  padding-left: 7%;
}
.sellshop > div {
  position: relative;
  flex-basis: 23%;
  aspect-ratio: 1/1.7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fdfdfd;
}
.sell-imbx img {
  width: 100%;
}
.sell-titbx {
  font-weight: bold;
  text-align: center;
}
.sell-titbx h3 {
  padding: 6px 0;
  margin-bottom: 5px;
  font-size: 2.2rem;
  color: #000;
}
.sell-titbx h2 {
  margin-bottom: 8px;
  padding: 0 20px;
  font-size: 1.6rem;
}
.sell-titbx h1 {
  font-size: 1.2rem;
}

/* @media screen and (max-width: 1300px) {
  .sellshop > div {
    aspect-ratio: 1/1;
  }
}

@media screen and (max-width: 1024px) {
  .sellshop > div {
    aspect-ratio: 1/1.6;
    flex-basis: 49%;
  }
  .sell-titbx h3 {
    font-size: 1.2vw;
  }
  .sell-titbx h2 {
    font-size: 2vw;
  }
  .btnbx button {
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 570px) {
  .sellshop > div {
    aspect-ratio: 1/1.4;
    flex-basis: 100%;
  }
  .sell-titbx h3 {
    font-size: 2vw;
  }
  .sell-titbx h2 {
    font-size: 5vw;
  }
  .btnbx button {
    font-size: 3vw;
  }
} */
