@charset "utf-8";

@import url(./common.css);

/* 로고 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Nanum+Pen+Script&display=swap");

/* 글씨체 */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:opsz@9..40&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
/* font-family: 'Noto Sans KR', sans-serif; */

section {
  padding-left: 100px;
  width: 99.1vw;
  height: 100vh;
  overflow: hidden;
  border-bottom: 1px solid #000;
}
#main-area {
  border-bottom: none;
}

/* 스타트영역 */
#intro-area {
  width: 99.1vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
  transition: 1.5s;
  font-family: 'Bebas Neue', sans-serif;
}
.cap-box {
  position: relative;
  width: 50%;
  left: 22%;
  top: 17%;
  display: flex;
  justify-content: space-evenly;
}
.intro-captain {
  width: 320px;
  height: 400px;
  clip-path: polygon(45% 0, 100% 0%, 70% 100%, 15% 100%);
  overflow: hidden;
  transition: 1.5s ease-out;
}
.mad {
  transform: translateY(-5%);
}
.mad img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-120%, -50%);
  transition: 0.5s ease-out;
}
.son {
  transform: translateY(-20%);
}
.son img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-120%, -50%);
  transition: 0.5s ease-out;
}
.rom {
  transform: translateY(-5%);
}
.rom img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-135%, -50%);
  transition: 0.5s ease-out;
}
.msg {
  position: absolute;
  left: 20%;
  width: 60%;
  height: 10%;
  font-size: 8.5rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
  /* display: none; */
}
.fir {
  top: 75%;
  opacity: 0;
  transition: 0.5s;
}
.sec {
  top: 85%;
  opacity: 0;
  transition: 0.5s;
}

/* gnb 파트 */
#gnb {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80px;
  height: 100vh;
  padding-left: 1%;
  border-right: 0.1px solid #ffffff40;
  z-index: 999;
  overflow: hidden;
  /* display: none; */
}
#gnb a img {
  width: 80%;
  height: 100%;
  margin-left: -16%;
}
#menu {
  display: flex;
  width: 70%;
  height: 2%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  padding-left: 5%;
}
#menu .top {
  width: 70%;
  height: 5%;
  background-color: #fff;
}
#menu .top.on {
  transform: translateY(-100%);
  transition: all 1s;
}
#menu .bottom {
  width: 70%;
  height: 5%;
  background-color: #fff;
}
#menu .bottom.on {
  transform: translateY(100%);
  transition: all 1s;
}
#gnb .sns-menu {
  display: flex;
  color: #fff;
  width: 100%;
  height: 10%;
  flex-direction: column;
  justify-content: space-around;
}
#gnb .sns-menu a {
  font-size: 1.8rem;
  line-height: 3;
}
#gnb .sns-menu a:last-child {
  margin-left: -10%;
}
#gnb .sns-menu span {
  display: none;
}

/* top-area */
#top-area {
  background-color: #000;
  position: relative;
  display: none;
  font-family: 'Bebas Neue', sans-serif;
}
#top-area video {
  margin: 0% 0%;
  width: 100vw;
  height: 116%;
  background-color: #000;
  object-fit: none;
  margin-left: -6%;
  filter: brightness(0.6);
}
#top-area h1,
#top-area h2,
#top-area h4 {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100vw;
  height: 12vh;
  text-align: center;
  font-size: 7rem;
  font-weight: bold;
  color: #fff;
}
#top-area h2 {
  top: 50%;
  line-height: 1;
}
#top-area h4 {
  top: 65%;
  font-size: 2.5rem;
  filter: brightness(0.85);
}
.wheel {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 75%;
  left: 48%;
  color: #fff;
  border: 1px solid #ffffff40;
  border-radius: 50px;
}

.wheel::before {
  position: absolute;
  content: "";
  display: block;
  top: 21%;
  left: 49%;
  width: 2px;
  height: 14%;
  background-color: #fff;
  animation: wheel-ani 2s infinite;
  z-index: 1;
}
@keyframes wheel-ani {
  to {
    transform: translateY(100%);
  }
}
.wheel img {
  width: 100%;
  height: 50%;
  transform: translateY(20px);
}

/* 메인영역 - SPURS NEWS */
#main-area {
  position: relative;
  background-color: #fff;

}
.n-tit {
  padding-right: 15%;
  font-size: 12rem;
  text-align: center;
  font-weight: bold;
  color: rgb(9, 10, 99);
  font-family: 'Bebas Neue', sans-serif;
}
.news-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  width: 50vw;
  padding: 0% 0% 2% 10%;
}
.news {
  position: relative;
  width: 400px;
  height: 330px;
  cursor: pointer;
}
.news img {
  width: 100%;
  height: 100%;
  filter: brightness(0.75);
}
.n4 {
  grid-column: 3/1;
  width: 850px;
}
.n1::before {
  content: '"Son" 50 at the Stadium in 50 seconds';
  display: block;
  position: absolute;
  top: 65%;
  width: 100%;
  height: 100%;
  font-size: 3rem;
  color: #fff;
  background-color: #fff0;
  z-index: 1;
  text-align: center;
}
.n1:hover::before {
  text-decoration: underline;
}

.n2::before {
  content: "Ange on injuries to Maddison, van de Ven";
  display: block;
  position: absolute;
  top: 65%;
  width: 100%;
  height: 100%;
  font-size: 3rem;
  color: #fff;
  background-color: #fff0;
  z-index: 1;
  text-align: center;
}
.n2:hover::before {
  text-decoration: underline;
}
.n3::before {
  content: "Vicario: “Fans’ applause meant a lot to us”";
  display: block;
  position: absolute;
  top: 65%;
  width: 100%;
  height: 100%;
  font-size: 3rem;
  color: #fff;
  background-color: #fff0;
  z-index: 1;
  text-align: center;
}
.n3:hover::before {
  text-decoration: underline;
}
.n4::before {
  content: "Madison praises “Son Heung-min is world class..... We are starting to understand each other”";
  display: block;
  position: absolute;
  top: 65%;
  width: 100%;
  height: 100%;
  font-size: 3rem;
  color: #fff;
  background-color: #fff0;
  z-index: 1;
  text-align: center;
}
.n4:hover::before {
  text-decoration: underline;
}
.n5::before {
  content: "Ange’s verdict: “It was an outstanding effort,the lads gave everything”";
  display: block;
  position: absolute;
  top: 40%;
  width: 100%;
  height: 100%;
  font-size: 3rem;
  color: #fff;
  background-color: #fff0;
  z-index: 1;
  text-align: center;
}
.n5:hover::before {
  text-decoration: underline;
}

/* 메인영역 - MATCH DAY */
#match-area {
  background-color: #fff;
  /* color: #fff; */
}
#match-area h1 {
  font-size: 12rem;
  padding-left: 25%;
  font-weight: bold;
  /* color: #fff; */
  font-family: 'Bebas Neue', sans-serif;
}
#mc-area {
  width: 800px;
  height: 250px;
  margin-left: 15%;
}
#mcbox {
  display: flex;
  text-align: center;
  gap: 20%;
  justify-content: space-around;
  width: 1000px;
  height: 280px;
  cursor: pointer;
  /* background-color: rgb(9, 10, 99); */
}

.mcbox h4 {
  font-size: 3rem;
  text-decoration: overline;
}
.mcbox h3 {
  font-size: 2rem;
}
.mc1 {
  display: flex;
  margin: 10%;
  width: 70px;
  height: 70px;
}

.mc1 img {
  width: 100%;
  height: 100%;
}
.score {
  margin-top: 30%;
  width: 60px;
  height: 60px;
  font-size: 2rem;
}
.mcbox p:first-of-type {
  font-weight: bold;
  font-size: 1rem;
}
.ht {
  position: relative;
  display: flex;
  gap: 5%;
  width: 1500px;
  height: 450px;
  padding-left: 8%;
  cursor: pointer;
  color: #fff;
}
.ht img {
  width: 100%;
  height: 100%;
  filter: brightness(0.8);
}

.ht1 h4 {
  position: absolute;
  top: 75%;
  width: 45%;
  text-align: center;
  font-size: 3rem;
}
.ht2 h4 {
  position: absolute;
  top: 75%;
  text-align: center;
  font-size: 3rem;
}

/* 메인영역 - SHOP */
#shop-area {
  /* background-color: darkgreen; */
  position: relative;
}
#shop-area h1 {
  margin-top: 5%;
  font-size: 3rem;
  font-family: "Noto Sans KR", sans-serif;
  /* color: #fff; */
}
.sbx {
  position: absolute;
  top: 17%;
  width: 100vw;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
}
.nbx {
  position: relative;
  left: 0;
  width: 200vw;
  display: flex;
}
.nbx ul {
  margin: 0;
  padding: 0;
  list-style: none;
  flex: 1;
  display: flex;
}
.nbx li {
  flex: 1;
  text-align: center;
  font-size: 4vw;
}
.txt-ani1 {
  animation: txt-ani1 10s linear infinite;
}
@keyframes txt-ani1 {
  to {
    left: -100%;
  }
}
#kitbox {
  width: 100vw;
  height: 50vh;
  position: absolute;
  overflow: hidden;
  top: 30%;
  margin-left: 2%;
}
.kitbox {
  display: flex;
  flex-wrap: nowrap;
  gap: 1%;
  width: 100%;
  height: 110%;
}
.kit {
  width: 50%;
  height: 80%;
}
.kit:nth-child(2n){
  transform: translateY(10%);
}
.kit img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.kitbox p{
  position: absolute;
  top: 80%;
  font-size: 1.4rem;
  font-weight: bold;
}
.kitbox .kit:nth-child(2n) p{
  top: 90%;
  color: #fff;
}