@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
/* font-family: 'DM Serif Display', serif; */
/* font-family: 'Noto Sans KR', sans-serif; */
@import url(../css/common.css);

html {
    scroll-behavior: smooth;
}
header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 0 auto;
    position: fixed;
    z-index: 1;
    background-color:#fff;
}
h1 {
    font-family: "DM Serif Display";
    font-size: 36px;
}
nav ul {
    display: flex;
    align-items: center;
    column-gap: 60px;
}
nav ul li {
    font-size: 35px;
    font-weight: bold;
    font-family: "bebas Neue";
    position: relative;
}
nav > ul > li > a.title-menu:hover {
    text-shadow: 1.5px 2px grey;
}
nav > ul > li > a::after {
    content: "";
    display: block;
    width: 0%;
    margin-left: 100%;
    margin-top: 4px;
    height: 2px;
    background-color: #000;
    transition: 0.3s;
}
nav > ul > li:hover > a::after {
    width: 100%;
    margin-left: 0%;
    transition: width 0.3s;
}
nav > ul:hover > li ol {
    height: 200px;
}
nav ol {
    position: absolute;
    left: 0;
    top: 80px;
    background-color: #fff;
    height: 0;
    overflow: hidden;
    transition: .5s;
}
.main-video {
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    /* padding: 0 50px; */
}
video {
    object-fit: cover;
    width: 100vw;
    height: 100%;
}
.message {
    font-family: "DM Serif Display", serif;
    position: absolute;
    display: block;
    top: 600px;
    right: 30px;
    line-height: 1.5;
    text-align: center;
    font-size: 30px;
    color: #fff;
}
.message::first-letter {
    color: red;
    font: 3em "DM Serif Display", serif;
}

.main2 {
    position: relative;
    width: 1185px;
    height: 1031px;
    margin-left: 37%;
    background: gray url(../img/main2.jpg) no-repeat center/cover;
}
@keyframes main2-ani {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.main2_main > a h2 {
    font-size: 80px;
    font-family: "DM Serif Display", serif;
    animation: main2-ani normal 8s;
}

.main2_main {
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    font-family: "Noto Sans KR", sans-serif;
    line-height: 2;
    text-align: center;
    top: 20vw;
    left: -30vw;
    content: "";
    display: block;
}
.main3 {
    width: 900px;
    height: 800px;
    margin: 100px;
    background-color: #fff;
    background: url(../img/brand.jpg) no-repeat bottom;
}
.main3:hover {
    width: 900px;
    height: 800px;
    margin: 100px;
    background: url(../img/brand2.jpg) no-repeat bottom;
    transition: 1s;
}
.main3_main > a h2 {
    font-size: 100px;
    font-family: "DM Serif Display", serif;
}
.main3_main {
    padding-left: 60%;
    font-size: 30px;
    font-weight: bold;
    font-family: "Noto Sans KR", sans-serif;
    line-height: 1.5;
    text-align: center;
}
