@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
/* font-family: 'DM Serif Display', serif; */
/* font-family: 'Noto Sans KR', sans-serif; */
@import url(../css/common.css);

html {
    scroll-behavior: smooth;
}
html,
body {
    width: 100%;
    height: 100%;
}
body{
  position: relative;
  font-family: 'DM Serif Display','Noto Sans KR', serif;
;
}
header {
    top: 0;
    width: 100%;
    height: 80px;
    padding: 1% 2%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin: 0 auto;
    position: fixed;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px double #000;
}
h1 {
    font-size: 36px;
}
nav{
    display: flex;
    gap: 0 2vw;
}
header:hover{
    height: 250px;
    background-color: #fff;
    transition: .5s;
}
header:hover nav dd{
    visibility: visible;
    opacity: 1;
    transition: 0.5s
    /* transition-delay: 0.3s; */
}
nav dl{
    text-align: center;
}
nav dt {
    padding-bottom: 40px;
    font-weight: bold;
    font-size: 32px;
}
nav dt a, nav dd a{
    display: inline-block;
}
nav > dl > dt a:hover{
    text-shadow: 4px 2px 2px gray;
    /* transform: scale(1.2); */
    /* border-bottom: 2px solid #000; */
}
nav dd{
    font-weight: bold;
    line-height: 1.5;
    font-size: 24px;
    visibility: hidden;
    opacity: 0;
}
nav dd > a:hover{
    text-shadow: 4px 2px 2px gray;
    transform: scale(1.2);
    /* border-bottom: 2px solid #000; */
}
.title{
  padding-top: 10%;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.position > ul{
  font-size: 1.4rem;
  color: #313577;
  display: flex;
  gap: 0 25px;
}
.posiotion ul li:nth-child(3){
  text-decoration: underline;
}
.content{
  position: absolute;
  margin-top: 3%;
  width: 100%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}
.content h2{
  font-size: 3rem;
  margin-bottom: 5%;
  -webkit-background-clip: text;
    background-image: linear-gradient(to right,#cf7933, rgb(99, 78, 59) );
    color: transparent;
}
.content h3{
  line-height: 1.4;
  font-size: 1.4rem;
  
}
.tit-i{
  width: 200px;
  height: 150px;
  margin: 0 auto;
  background: url(../img/mouse-pointer.png) no-repeat center/cover;
}
