@charset "utf-8";

@import url(./common.css);

html,body {
  width: 100%;
  height: 200%;
}
#intro{
    position: relative;
    width: 100%;
    height: 100%;
    background: #000 url(../images/background.jpg) no-repeat 100% 100%/100% 10%;
}
.intro{
    position: absolute;
    width: 30%;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1/0.6;
}
.intro img {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
}
.intro img:last-child{
    transform: translateY(50%);
    opacity: 1;
}
.intro img.on{
    animation: intro-ani .3s forwards;
    z-index: 9999;
}
@keyframes intro-ani {
    0% {
      opacity: 0;
      transform: translateY(0);
    }
    100% {
      opacity: 1;
      transform: translateY(50%);
    }
  }